<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931894421089-9quub3c7ruttl6qbim76los253tqiiia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931894421089-9quub3c7ruttl6qbim76los253tqiiia</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-G_0XCMvih7YIfM-dRggrrjBQ4sbons</string>
	<key>GCM_SENDER_ID</key>
	<string>931894421089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.company.osta</string>
	<key>PROJECT_ID</key>
	<string>ostaa-2076c</string>
	<key>STORAGE_BUCKET</key>
	<string>ostaa-2076c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931894421089:ios:1490906d6fc23c05a76c20</string>
</dict>
</plist>